.header {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 150px;
  border-bottom: 1px solid rgb(247, 243, 243);
}

.logo {
  width: 50px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  margin-left: 30px;
  letter-spacing: 1px;
}
